body {
  color: #1a1b26;
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased; }

a {
  text-decoration: none; }
  a:hover {
    color: #3585f0;
    cursor: pointer;
    text-decoration: none; }
  a:active {
    color: #3585f0;
    text-decoration: none; }
  a:focus {
    color: #3585f0;
    text-decoration: none; }

img {
  border-radius: 6px; }

figure.filter-max {
  position: relative;
  -webkit-filter: contrast(94%) brightness(112%) saturate(120%);
  filter: contrast(94%) brightness(112%) saturate(120%); }

figure.filter-min {
  position: relative;
  -webkit-filter: contrast(94%) brightness(105%) saturate(120%);
  filter: contrast(94%) brightness(105%) saturate(120%); }

figure.filter-light {
  position: relative;
  -webkit-filter: contrast(94%) brightness(115%) saturate(110%);
  filter: contrast(94%) brightness(115%) saturate(110%); }

.sidebar {
  background-color: #fcfcfc;
  font-size: 1.1em; }

.site-brand {
  color: #3585f0;
  font-size: 2.2em;
  margin: 0px 0px 10px;
  font-variant: small-caps; }

.navbar-brand {
  font-variant: small-caps;
  font-size: 3.1em;
  font-weight: 600;
  color: #3585f0; }

.site-tagline {
  margin-bottom: 30px;
  line-height: 1.5em; }

p.sidebar-entry {
  margin: 60px 0px; }

.timeframe {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin: 20px 0px 10px;
  opacity: 0.6;
  text-transform: uppercase;
  color: #61748c; }

.nav > li > a {
  line-height: 2.5em;
  font-size: 1.2em;
  color: #4c5b6e;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .nav > li > a.active {
    color: #3585f0;
    font-weight: 800;
    opacity: 1.0; }

.nav-footer-social-buttons > a {
  color: #3585f0;
  font-size: 1.1em;
  margin-right: 8px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .nav-footer-social-buttons > a:hover {
    opacity: 0.8; }

.sidebar.open {
  top: 0px; }

.mobile-welcome {
  display: none; }

#hello {
  font-size: 1.6em;
  margin: 30px 0px 10px;
  display: inline-block; }

main.projects {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    main.projects {
      margin-left: 240px; } }
  @media (min-width: 992px) {
    main.projects {
      padding: 100px;
      padding-top: 30px; } }
  main.projects section.main {
    padding: 30px 0px; }
  main.projects strong {
    color: #3585f0; }
  main.projects a {
    border-bottom: 3px solid #accdf9;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
    main.projects a:hover {
      border-bottom: 3px solid #3585f0;
      color: #1d77ee; }
  main.projects section.project {
    margin: 0px 0px 0px;
    display: inline-block; }
    main.projects section.project#panorama {
      margin-top: 150px; }
    main.projects section.project#speech4good {
      margin-top: 60px; }
    main.projects section.project#fluently {
      margin-top: 0px;
      margin-bottom: 0px; }
  main.projects .flush-col {
    padding: 0px; }
    main.projects .flush-col img {
      border-radius: 20px; }
  main.projects .s4g-wistia {
    max-width: 360px; }
  main.projects .fluently-icon {
    padding: 0px;
    max-width: 130px;
    display: block; }
  main.projects #fluently-ipad {
    max-width: 80%; }
  main.projects .wistia_responsive_wrapper {
    margin: 20px 0px;
    padding: 5px 15px; }
  main.projects .w-chrome {
    border-radius: 10px; }
  main.projects img {
    padding: 15px; }
    main.projects img.featured-image {
      max-width: 100%;
      padding: 0px;
      margin: 10px 0px; }
    main.projects img.square {
      max-width: 80%; }
    main.projects img.small {
      max-width: 70%; }
    main.projects img.whiteboard {
      max-width: 90%; }
    main.projects img.video-play:hover {
      opacity: 0.9;
      -webkit-transition: all .15s ease-in-out;
      -o-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out; }
  main.projects .text {
    margin: 23px 0px 23px;
    padding: 0px; }
    main.projects .text.tight {
      margin-bottom: 0px; }
  main.projects h3.section-title {
    font-size: 1.05em;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin: 20px 0px;
    opacity: 0.6;
    color: #61748c;
    text-transform: uppercase; }
  main.projects p.paragraph {
    font-size: 1.25em;
    line-height: 1.7em;
    font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 23px 0px 23px;
    max-width: 750px; }
  main.projects #top-link {
    display: none; }

section.about {
  /* Smartphones (portrait and landscape) ----------- */ }
  section.about .about-row {
    margin: 80px 0px 40px; }
  section.about p.paragraph {
    margin-top: 0px;
    padding: 0px 15px; }
  section.about #why {
    font-weight: bold; }
  section.about div.profile-pic {
    padding-left: 0px;
    text-align: left; }
  section.about .img-responsive.profile {
    padding: 0px;
    width: 75%; }
  section.about ul {
    padding: 0px 50px;
    margin-bottom: 30px;
    font-size: 1.3em; }
  section.about li {
    margin-top: 15px; }
  section.about p.paragraph.highlight {
    margin-bottom: 10px; }
  section.about .row.pitch {
    width: 100%;
    margin: -20px 0px 20px;
    padding: 0px; }
  section.about #transcript {
    margin-top: 0px;
    padding: 0px 15px;
    font-style: italic; }
  @media only screen and (min-device-width: 120px) and (max-device-width: 680px) {
    section.about .about-row {
      margin: 0px 0px 30px; }
    section.about .cold-xs-12, section.about .col-md-8 {
      padding-left: 5px;
      padding-right: 5px; }
    section.about div.profile-pic {
      margin: 10px auto 20px;
      text-align: center;
      width: 50%; }
    section.about p.paragraph {
      margin-top: 0px;
      padding-left: 0px; }
    section.about ul {
      padding: 0px 20px 0px 40px; }
    section.about .img-responsive {
      padding: 0px; } }
h2.header {
  margin-top: 10px;
  font-size: 2.1em;
  font-weight: bold;
  padding-left: 0px; }
  h2.header.writing {
    padding-left: 32px; }
  h2.header.projects {
    padding-left: 13px;
    margin: -10px 0px; }

main.writing {
  margin-bottom: 40px; }

div.writing-post {
  margin: 0px 0px 0px;
  padding: 12px 32px 25px;
  border-radius: 6px;
  display: inline-block;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  div.writing-post:hover {
    background-color: rgba(40, 92, 255, 0.05);
    cursor: pointer; }

h4.title {
  margin-bottom: 2px;
  font-weight: bold;
  color: #3585f0;
  font-size: 1.4em;
  line-height: 1.3em; }

span.subtitle {
  color: #61748c;
  font-size: 1.15em;
  line-height: 1.3em; }

h5.date {
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #61748c;
  opacity: 0.7;
  font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
  margin-top: 5px;
  display: none; }

.grid-item .project-description {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0%;
  width: 100%;
  border-radius: 2px;
  overflow: hidden; }

.grid-item:hover {
  transform: scale(1.01);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.grid-item:hover .project-description {
  opacity: 1;
  cursor: pointer; }

.project-text-inner h3 {
  font-size: 2em;
  color: white;
  font-weight: 900; }

.project-text-inner p {
  color: white;
  width: 85%;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 auto; }

.project-text-inner p.more-btn {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 1em;
  border-radius: 4px;
  background: #3585f0;
  color: white;
  width: 40%;
  padding: 7px 0px;
  margin: 15px auto; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 120px) and (max-device-width: 680px) {
  .navbar {
    padding: 10px 0px 0px; }
  .navbar-brand {
    font-size: 2.5em;
    width: 76%;
    text-align: center;
    letter-spacing: -0.02em;
    font-weight: bold;
    display: none; }
  .navbar-toggle {
    margin-top: 9px;
    z-index: 99; }
  ul.nav {
    margin-top: 60px;
    padding-right: 80px; }
  .timeframe {
    font-size: 15px; }
  .sidebar.open {
    z-index: 1;
    background: #fcfcfc;
    box-shadow: 2px 0 3px 0 rgba(167, 167, 167, 0.32); }
  p.sidebar-entry, ul.nav {
    font-size: 1.3em;
    line-height: 1.4em; }
  p.mobile-welcome {
    display: inline-block;
    font-size: 1.35em;
    line-height: 1.4em;
    padding: 0px 20px 30px 12px; }
  main.welcome {
    padding-bottom: 100px; }
  .sidebar {
    padding-left: 30px;
    width: fit-content;
    padding-right: 15px; }
  ul.nav > li {
    margin: 0px 0px 0px;
    padding: 10px 0px; }
  h2.header.projects, h2.header.writing {
    margin: 10px 0px 5px;
    font-size: 2.6em;
    padding-left: 10px; }
  div.writing-post {
    margin: 0px 0px;
    padding: 10px 8px 10px; }
  .nav-footer-social-buttons > a {
    font-size: 1.4em;
    margin-left: 0px;
    margin-right: 20px; }
  #hello {
    font-size: 2.0em;
    margin: 10px 0px 20px;
    display: inline-block; }
  main.projects {
    margin: 0px 0px 60px; }
    main.projects section.project {
      margin: 30px 0px 0px;
      display: inline-block; }
      main.projects section.project#chegg {
        margin-top: 0px; }
      main.projects section.project#speech4god {
        margin-top: 0px; }
      main.projects section.project#fluently {
        margin-top: 0px;
        margin-bottom: 30px; }
      main.projects section.project#politics {
        margin-top: 0px; }
    main.projects img {
      padding: 15px; }
      main.projects img.square {
        max-width: 90%; }
      main.projects img.small {
        max-width: 90%; }
    main.projects .text {
      margin: 0px 0px 0px; }
      main.projects .text.tight {
        margin-bottom: 0px; }
    main.projects #fluently-ipad, main.projects img.whiteboard, main.projects .s4g-wistia {
      max-width: 100%; }
    main.projects #top-link {
      display: block;
      font-size: 1em;
      margin: 0px auto 0px;
      padding: 10px;
      font-weight: bold; } }

@media only screen and (min-device-width: 1580px) {
  main.welcome {
    max-width: 1500px;
    margin-left: 300px; }
  main.projects {
    max-width: 1350px;
    margin-left: 300px; }
  main.writing {
    max-width: 1100px;
    margin-left: 300px; }
  .sidebar {
    padding-top: 30px;
    padding-right: 0px; } }
