

// Colors 

$blue: #3585f0;
$black: #1a1b26;
$gray: #61748c;


// Global Styles

body {
	color: $black;
}

a {
	//color: $blue;
	text-decoration: none;

	&:hover {
		color: $blue;
		text-decoration: none;
	}
	&:active {
		color: $blue;
		text-decoration: none;
	}
	&:focus {
		color: $blue;
		text-decoration: none;
	}

}


// Navbar

.site-brand {
	color: $blue;
	font-size: 2em;
	font-weight: bold;
	margin: 10px 0px 10px;
	font-variant: small-caps;
}

.navbar-brand {
	font-variant: small-caps;
	font-size: 2em;
	font-weight: bold;
	color: $blue;
}

.site-tagline {
	margin-bottom: 20px;
	line-height: 1.6em;
	font-size: 1.1em;
}

p.sidebar-entry {
	margin: 20px 0px 30px;
	font-size: 1.1em;
}

.timeframe {
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.03em;
	margin-top: 20px;
	text-transform: uppercase;
	color: $gray;
}

ul.nav {
	margin-top: 40px;
	font-size: 1.1em;
}

.nav > li > a.active {
	color: $blue;
}

.nav-footer-social-buttons > a {
	color: $blue ;
	-webkit-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
	
	&:hover {
		color: $blue;
	}
}

p.mobile-welcome {
	display: none;
}

// Project Tiles

.grid-item .project-description {
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin: 3%;
	width: 94%;
}

.project-text-inner {
	h3 {
		font-size: 1.7em;
		color: $blue;
	}

	p {
		color: $black;
		width: 90%;
		font-size: 1.1em;
		line-height: 1.4em;
		margin: 0 auto;
	}

	p.more-btn {
		text-transform: uppercase;
		letter-spacing: 0.03em;
		font-size: 1em;
		border-radius: 4px;
		background: $blue;
		color: white;
		width: 40%;
		padding: 7px 0px;
		margin: 15px auto;
	}
}

.down-arrow {
	color: $blue;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
}


// Projects 

main.projects {

	.row.header {
		text-align: center;
		margin-top: 30px;
	}

	h1 {
		color: $blue;
		font-size: 2.2em;
		font-family: 'Cabin';
		font-variant: small-caps;
	}

	section.main {
		padding: 40px 0px;
	}

	a {
		border-bottom: 3px solid lighten($blue, 25%);
		-webkit-transition: all .15s ease-in-out;
  		-o-transition: all .15s ease-in-out;
  		transition: all .15s ease-in-out;

		&:hover {
			border-bottom: 3px solid $blue;
			color: darken($blue, 5%);
		}
	}

	p.paragraph {
		font-size: 1.3em;
		line-height: 1.7em;
		font-family: 'Source Sans Pro';
		//width: 66%;
		font-weight: 400;
		margin: 30px 0px 80px;
	}
}


// Writing

h2.header {
	margin-top: 20px;
	font-size: 1.9em;
	font-weight: bold;
	padding-left: 32px;
}

div.writing-post {
	margin: 0px 0px;
	padding: 10px 35px 16px;
	border-radius: 6px;
	display: inline-block;
	-webkit-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
	
	&:hover {
		background-color: rgba(40, 92, 255, 0.05);
    	cursor: pointer;
    }
}

h4.title {
	margin-bottom: 2px;
	color: $blue;
	font-size: 1.3em;
}

span.subtitle {
	color: $gray;
	font-size: 1.15em;
	line-height: 1.2em;
}

h5.date {
	font-size: 0.8em;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $gray;
	opacity: 0.6;
	font-family: 'Source Sans Pro';
	margin-top: 5px;
}

a.active {
	color: $blue;
	font-weight: bold;
}




// Solo Projects 

main.project {
	padding: 30px 80px;

	h1 {
		font-size: 2.0em;
	}

	p.intro {
		font-size: 1.2em;
		line-height: 1.6em;
		color: $gray;
	}

	p.paragraph {
		font-family: "Lora";
		color: $black;
		font-size: 1.2em;
		margin: 20px 0px;
	}

	span.caps {
		font-size: 2.5em;
		color: $blue;
		font-weight: bold;
		line-height: 0.5em;
	}
}

img.project-img {
	padding: 10px 0px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 120px) 
and (max-device-width : 680px) {
	.navbar {
		padding: 10px 0px 0px;
	}
	.navbar-brand {
		font-size: 2em;
	}
	ul.nav {
		margin-top: 0px;
	}
	.grid-item {
		padding: 10px;
	}
	.timeframe {
		font-size: 15px;
	}
	p.sidebar-entry, ul.nav {
		font-size: 1.5em;
	}
	p.mobile-welcome {
		display: inline-block;
		font-size: 18px;
		line-height: 1.45em;
		padding: 5px 12px 12px;
	}
}





