

// Colors 

$blue: #3585f0;
$black: #1a1b26;
$gray: #61748c;

$sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$cabin: 'Cabin',  Helvetica, Arial, sans-serif;

// Global Styles

body {
	color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;

}

a {
	//color: $blue;
	text-decoration: none;

	&:hover {
		color: $blue;
		text-decoration: none;
	}
	&:active {
		color: $blue;
		text-decoration: none;
	}
	&:focus {
		color: $blue;
		text-decoration: none;
	}

}


// Navbar

.site-brand {
	color: $blue;
	font-size: 1.95em;
	font-weight: bold;
	margin: 10px 0px 10px;
	font-variant: small-caps;
}

.navbar-brand {
	font-variant: small-caps;
	font-size: 2em;
	font-weight: bold;
	color: $blue;
}

.site-tagline {
	margin-bottom: 20px;
	line-height: 1.6em;
	font-size: 1.1em;
}

p.sidebar-entry {
	margin: 20px 0px 30px;
	font-size: 1.1em;
}

.timeframe {
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.03em;
	margin-top: 20px;
	opacity: 0.9;
	text-transform: uppercase;
	color: $gray;
}

ul.nav {
	margin-top: 40px;
	font-size: 1.1em;
}


.nav > li > a {
	-webkit-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
	&.active {
		color: $blue;
		font-weight: 600; 
	}
}


.nav-footer-social-buttons > a {
	color: $blue;
	-webkit-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
}

p.mobile-welcome {
	display: none;
}



// Projects 

main.projects {
	margin-bottom: 100px;

	@media (min-width: 768px) {
    	margin-left: 240px; 
	}
	@media (min-width: 992px) {
    	padding: 50px; 
    }

	section.main {
		padding: 30px 0px;
	}

	a {
		border-bottom: 3px solid lighten($blue, 25%);
		-webkit-transition: all .15s ease-in-out;
  		-o-transition: all .15s ease-in-out;
  		transition: all .15s ease-in-out;

		&:hover {
			border-bottom: 3px solid $blue;
			color: darken($blue, 5%);
		}
	}
	
	section.project {
		margin: 40px 0px 0px;
		display: inline-block;

		

		&#gettoknowyou {
			margin-top: 20px;
		}

		&#speech4god {
			margin-top: 30px;
		}

		&#politics {
			margin-top: 90px;
		}
	}

	img {
		padding: 15px;

		&.square {
			max-width: 85%;
		}

		&.small {
			max-width: 70%;
		}
	}

	.text {
		margin: 10px 0px 60px;

		&.tight {
			margin-bottom: 40px;
		}
	}

	p.paragraph {
		font-size: 1.3em;
		line-height: 1.7em;
		font-family: $sans;
		font-weight: 400;
		margin: 10px 0px 20px;
	}
}


// Writing

h2.header {
	margin-top: 19px;
	font-size: 2.1em;
	font-weight: bold;
	padding-left: 0px;

	&.writing {
		padding-left: 32px;
	}

	&.projects {
		padding-left: 12px;
		margin-bottom: -10px;
	}
}

main.writing {
	margin-bottom: 50px;
}

div.writing-post {
	margin: 0px 0px;
	padding: 10px 35px 16px;
	border-radius: 6px;
	display: inline-block;
	-webkit-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
	
	&:hover {
		background-color: rgba(40, 92, 255, 0.05);
    	cursor: pointer;
    }
}

h4.title {
	margin-bottom: 2px;
	color: $blue;
	font-size: 1.3em;
}

span.subtitle {
	color: $gray;
	font-size: 1.15em;
	line-height: 1.2em;
}

h5.date {
	font-size: 0.8em;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $gray;
	opacity: 0.6;
	font-family: $sans;
	margin-top: 5px;
}

.grid-item:hover {
	opacity: 0.85;
	-webkit-transition: all .25s ease-in-out;
  	-o-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 120px) 
and (max-device-width : 680px) {
	.navbar {
		padding: 10px 0px 0px;
	}
	.navbar-brand {
		font-size: 2em;
	}
	ul.nav {
		margin-top: 0px;
	}
	.grid-item {
		padding: 10px;
	}
	.timeframe {
		font-size: 15px;
	}
	p.sidebar-entry, ul.nav {
		font-size: 1.5em;
	}
	p.mobile-welcome {
		display: inline-block;
		font-size: 18px;
		line-height: 1.45em;
		padding: 5px 12px 12px;
	}
}





