

// Colors 

$blue: #3585f0;
$black: #1a1b26;
$gray: #61748c;

$sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$cabin: 'Cabin',  Helvetica, Arial, sans-serif;

// Global Styles

body {
	color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;

}

a {
	//color: $blue;
	text-decoration: none;

	&:hover {
		color: $blue;
		text-decoration: none;
	}
	&:active {
		color: $blue;
		text-decoration: none;
	}
	&:focus {
		color: $blue;
		text-decoration: none;
	}

}


figure.filter-max {
  position: relative;
  -webkit-filter: contrast(94%) brightness(112%) saturate(120%);
  filter: contrast(94%) brightness(112%) saturate(120%);
}

figure.filter-min {
  position: relative;
  -webkit-filter: contrast(94%) brightness(105%) saturate(120%);
  filter: contrast(94%) brightness(105%) saturate(120%);
}

figure.filter-light {
  position: relative;
  -webkit-filter: contrast(94%) brightness(115%) saturate(110%);
  filter: contrast(94%) brightness(115%) saturate(110%);
}

// Navbar

.site-brand {
	color: $blue;
	font-size: 1.95em;
	font-weight: bold;
	margin: 0px 0px 10px;
	font-variant: small-caps;
}

.navbar-brand {
	font-variant: small-caps;
	font-size: 2.5em;
	font-weight: bold;
	color: $blue;
}

.site-tagline {
	margin-bottom: 20px;
	line-height: 1.5em;
	font-size: 1.1em;
}

p.sidebar-entry {
	margin: 20px 0px 0px;
	font-size: 1.1em;
}

.timeframe {
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.03em;
	margin-top: 10px;
	opacity: 0.9;
	text-transform: uppercase;
	color: $gray;
}

ul.nav {
	margin-top: 10px;
	font-size: 1.2em;
	line-height: 1.5em;
}

.nav > li > a {
	-webkit-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
	&.active {
		color: $blue;
		font-weight: 600; 
	}
}

.nav-footer-social-buttons > a {
	color: $blue;
	-webkit-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
}

.sidebar.open {
	top: 0px;

}

.mobile-welcome {
	display: none;
}



// Projects 

main.projects {
	margin-bottom: 80px;

	@media (min-width: 768px) {
    	margin-left: 240px; 
	}
	@media (min-width: 992px) {
    	padding: 50px; 
    }

	section.main {
		padding: 30px 0px;
	}

	strong {
		color: $blue; 
	}

	a {
		border-bottom: 3px solid lighten($blue, 25%);
		-webkit-transition: all .15s ease-in-out;
  		-o-transition: all .15s ease-in-out;
  		transition: all .15s ease-in-out;

		&:hover {
			border-bottom: 3px solid $blue;
			color: darken($blue, 5%);
		}
	}
	
	section.project {
		margin: 40px 0px 0px;
		display: inline-block;
		
		&#panoramaed {
			margin-top: 30px; 
		}
		&#gettoknowyou {
			margin-top: 0px;
		}

		&#speech4god {
			margin-top: 10px;
		}

		&#fluently {
			margin-top: 10px;
		}

		&#politics {
			margin-top: 50px;
		}
	}

	img {
		padding: 15px;

		&.square {
			max-width: 85%;
		}

		&.small {
			max-width: 70%;
		}
	}

	.text {
		margin: 10px 0px 60px;

		&.tight {
			margin-bottom: 20px;
		}
	}

	p.paragraph {
		font-size: 1.3em;
		line-height: 1.7em;
		font-family: $sans;
		font-weight: 400;
		margin: 10px 0px 20px;
	}
}


// Writing

h2.header {
	margin-top: 19px;
	font-size: 2.1em;
	font-weight: bold;
	padding-left: 0px;

	&.writing {
		padding-left: 32px;
	}

	&.projects {
		padding-left: 13px;
		margin-bottom: -10px;
		margin-top: 0px;
	}
}

main.writing {
	margin-bottom: 40px;
}

div.writing-post {
	margin: 0px 0px;
	padding: 8px 35px 14px;
	border-radius: 6px;
	display: inline-block;
	-webkit-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
	
	&:hover {
		background-color: rgba(40, 92, 255, 0.05);
    	cursor: pointer;
    }
}

h4.title {
	margin-bottom: 2px;
	font-weight: bold;
	color: $blue;
	font-size: 1.4em;
	line-height: 1.3em;
}

span.subtitle {
	color: $gray;
	font-size: 1.15em;
	line-height: 1.3em;
}

h5.date {
	font-size: 0.8em;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $gray;
	opacity: 0.7;
	font-family: $sans;
	margin-top: 5px;
}


// Project Tiles

.grid-item .project-description {
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	margin: 3%;
	width: 94%;
}

.grid-item:hover .project-description {
  opacity: 1;
}


.project-text-inner {
	h3 {
		font-size: 1.7em;
		color: $blue;
	}

	p {
		color: $black;
		width: 90%;
		font-size: 1.2em;
		font-weight: 500;
		line-height: 1.2em;
		margin: 0 auto;
	}

	p.more-btn {
		text-transform: uppercase;
		letter-spacing: 0.03em;
		font-size: 1em;
		border-radius: 4px;
		background: $blue;
		color: white;
		width: 40%;
		padding: 7px 0px;
		margin: 15px auto;
	}
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 120px) 
and (max-device-width : 680px) {
	.navbar {
		padding: 10px 0px 0px;
	}
	.navbar-brand {
		font-size: 2em;
	}
	ul.nav {
		margin-top: 20px;
	}
	.grid-item {
		padding: 10px;
	}
	.timeframe {
		font-size: 15px;
	}
	p.sidebar-entry, ul.nav {
		font-size: 1.5em;
	}
	p.mobile-welcome {
		display: inline-block;
		font-size: 1.2em;
		line-height: 1.35em;
		padding: 5px 12px 12px;
	}

	h2.header.writing {
		margin-top: 10px;
		padding-left: 5px;
	}

	div.writing-post {
		margin: 0px 0px;
		padding: 10px 8px 10px;
	}

	.nav-footer-social-buttons > a {
		font-size: 1.3em;
		margin-left: 0px;
		margin-right: 10px;
	}
	
	main.projects {
		margin: 10px 0px 50px;

		section.project {
			margin: 30px 0px 0px;
			display: inline-block;

			h2.header {
				margin-top: 0px;
			}

			&#gettoknowyou {
				margin-top: 0px;
			}

			&#speech4god {
				margin-top: 0px;
			}

			&#fluently {
				margin-top: 0px;
			}

			&#politics {
				margin-top: 0px;
			}
		}

		img {
			padding: 15px;

			&.square {
				max-width: 100%;
			}

			&.small {
				max-width: 100%;
			}
		}
		
		.text {
			margin: 0px 0px 0px;

			&.tight {
				margin-bottom: 0px;
			}
		}
	}
}

@media only screen 
and (min-device-width : 1480px) {
	main.welcome {
		max-width: 1400px;	
		margin-left: 300px;
	}

	main.projects {
		margin-left: 300px;
		max-width: 1200px;
	}

	main.writing {
		max-width: 1100px;
		margin-left: 300px;
	}

	.sidebar {
		padding-top: 42px;
		padding-right: 0px;
	}
}




